language: julia

sudo: false

addons:
  apt:
    packages:
      - unixodbc
      - unixodbc-dev
      - libmyodbc
      - libsqliteodbc
      - odbc-postgresql

os:
  - linux

julia:
  - 0.6
  - nightly

services:
  - mysql
  - postgresql

env:
  - ODBC_DSN=MySQL-test

before_install:
  - cp ./test/.odbcinst.ini $HOME
  - odbcinst -i -s -h -f ./test/mytest.odbc.ini
  - odbcinst -i -s -h -f ./test/pgtest.odbc.ini
  - echo -e "\n[odbc]\nlocal-infile=1\n" >> $HOME/.my.cnf

notifications:
  email: false

after_success:
  - julia -e 'cd(Pkg.dir("ODBC")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
  - julia -e 'Pkg.add("Documenter")'
  - julia -e 'cd(Pkg.dir("ODBC")); include(joinpath("docs", "make.jl"))'
